<!-- <div class="container-fluid">
	<div class="row"> -->
	<div class="jumbotron">
	 <!--  <div class="col-md-12"> -->
	 <div class="container-fluid">
	    <div class="row-fluid">
	    <!-- images go in these divs -->
	    	<div class="col-md-3">
	    		<% @topics.each do |topic| %>
	    		  <%= link_to "#{topic.title}", topic_path(topic) %>
	    		  <% end %>
	    	</div>
	    	<div class="col-md-3">
	    		image 2
	    	</div>
	    	<div class="col-md-3">
	    		image 3
	    	</div>
	    	<div class="col-md-3">
	    		image 4
	    	</div>
<!-- 	    	<div class="col-md-3">
	    		image 5
	    	</div> -->

	  </div>
	</div>
</div>
