.table{
	width: 61%;
	margin: 0 auto;
	padding: none;
	background-color: black;
}

#splash_head{
	font-family: 'Londrina Solid', cursive;
	color: white;
	margin-left: 22%;
	font-size: 850%;
	margin-bottom: 2px;
	margin-top: 15px;
}

.td{
width: 420px;
height: 240px;
margin-bottom: 0px;
display: inline-block;
margin: 3px;



}

.tr{
	text-align: center;
}
.topic_heading{
	position: relative;
	bottom: 80px;
	color: white;
	font-size: 170%;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.6);
}



#vince{
	color: red;
}


.images{
    width: 420px;
    height: 100%;
    opacity: 0.6
}


body{
	background-image: url('/images/world-wallpaper.jpg');

}


