<% @articles.each.with_index do |article,index| %>
  <div class='article'>
    <div class='article-date-box'>
      <p class='article-date'><%= article.published_at %></p>
    </div>
    <div class='article-content-box'>
    	<h3 class= 'article-title'><%= article.title %></h3>
    	<p class='article-abstract'><%= article.abstract %></p>
    	<p class='article-source'>Source: <%= article.source %> </p>
    </div>
  </div>
<% end %>
