html, body, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}
body {
	font-size: 100.01%; /* Fix for some browser bugs */
	background-color: #ffffff;
}

.header{
	position: fixed;
	background-color: black;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.body{
	width: 70%;
	padding-top: 2em;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid pink;
}