<div class='header'>
	<h1 class='title'>NewsKetchup</h1>
</div>

<div class='body'>
	<div class='sidebar'>
		<div class='search'>
			<p>search bar</p>
		</div>
		<div class='topics'>
			<%= render partial: 'topics/topic', local: @topics, layout: false %>
		</div>
	</div>
	<div class='content'>
		<div class='graph'>

		</div>
		<div class='articles'>
			<%= render partial: 'topics/article', local: @articles, layout: false %>
		</div>
	</div>
	
</div>

<div class='footer'>
	<p>talk to us!</p>
</div>

<%= content_tag :div, class: "topic_data", current_topic: @current_topic do %>
<% end %>