<div class='header'>
	<h1 class='title'>NewsKetchup</h1>
</div>

<article class='main-container'>
	<div class='search-bar-container form-search'>
		<p class='intro'>It's hard to get the full context of news these days. Newsketchup brings you relevant historical news content so you can get the full picture!
		</p>
		<input type='text' class='form-control search-input' placeholder='start here...' maxlength='40'>
		<span class="input-group-btn">
	        <button class="btn btn-default search-button" type="button">Go!</button>
	    </span>
	</div>






</div>