<div class='header'>
	<h1 class='title'>NewsKetchup</h1>
</div>

<div class='body'>
	<div class='row'>
		<div class='search-bar-container'>
			<input type='text' class='form-control search-input' placeholder='start here...'>
			<span class="input-group-btn">
		        <button class="btn btn-default search-button" type="button">Go!</button>
		    </span>
		</div>
	</div>
</div>