<div class='header'>
	<h1 class='title'>NewsKetchup</h1>
</div>

<article class='main-container'>
	<div class='search-bar-container form-search'>
		<div class='intro'>
			<h4>It's hard to get the full context of news these days. Newsketchup brings you relevant historical news content so you can get the full picture!
			</h4>
		</div>
		<%= form_tag("/trends", method: :get, class: "form-search form-inline") do %>
			<input id='search-text' type='text' name='topic' class='search-query search-input' placeholder='What do you want to know?' maxlength='40'/>
			<button id='search-button' type="submit" class="btn btn-primary">Search</button>
		<% end %>
	</div>

	<div class='graph-container'>
		<canvas id="graph-canvas" width="800" height="400"></canvas>

	</div>




</div>