/*reset formatting*/
html, body, ul, ol, li, p, 
h1, h2, h3, h4, h5, h6, 
form, fieldset, a { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}
body {
	font-size: 100.01%;
	background-color: #67E6EC;
}

/*header-------------------------------------*/
.header{
	background-color: black;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/*body---------------------------------------*/
.body{
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.search-bar-container{
	background-color: #FFFFFF;

	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;

	width: 600px;
	height: 200px;

	border-radius: 5px;
	
	.intro{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.25em;
		text-align: center;
		line-height: 1.5;
	}

	.search-input{
		margin-top: 20px;
		font-size: 2em;
		width: 80%;
	}
	.search-button{
		font-size: 2em;
		width: 15%;
	}
}

/*footer------------------------------------*/
.footer{
	position: fixed;
	text-align:center;
	background-color: black;
	color: white;
	width: 100%;
	bottom: 0;
}