.table{
	margin-left: 20%;
	margin-top: 7%;
	padding: none;
	margin-top: 10px;
}

#splash_head{
	font-family: 'Londrina Solid', cursive;
	color: white;
	margin-left: 22%;
	font-size: 850%;
	margin-bottom: 2px;
	margin-top: 15px;
}

.td{
width: 420px;
height: 240px;
margin-bottom: 0px;
display: inline-block;


}

.topic_heading{
	position: relative;
	bottom: 50px;
	color: white;
	font-size: 170%;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;


}

#vince{
	color: red;
}


.images{
    position: relative;
    float: left;
    width: 420px;
    height: 100%;
}


body{
	background-image: url('/images/world-wallpaper.jpg');
	background-opacity: .5;
}


