.table{
	margin-left: 20%;
	margin-top: 7%;
	padding: none;
	margin-top: 10px;
}

.td{
width: 380px;
height: 240px;
margin-bottom: 0px;
display: inline-block;


}

.topic_heading{
	position: relative;
	bottom: 50px;
	color: white;
	/*font-size: 170%;*/
	vertical-align: text-bottom;
	 font: 400 70px/1.2 'Sansita one', Georgia, serif;
}


.images{
    position: relative;
    float: left;
    width: 380px;
    height: 100%;
}


body{
	background-image: url('/images/world-wallpaper.jpg');
	background-opacity: .5;
}

#header{
	font-family: 'Londrina Solid', cursive;
	color: red;
	margin-left: 22%;
	font-size: 850%;
	margin-bottom: 2px;
	margin-top: 15px;
}
