/*table{
	margin-left: 20%;
	margin-top: 7%;
	padding: none;
	margin-top: 10px;
}

td{
width: 380px;
height: 250px;
padding: none;
background-color: black;
}

tr{
	padding: none;
}

img{
    position: relative;
    float: left;
    width: 380px;
    height: 100%;
}


body{
	background-image: url('/images/world-wallpaper.jpg');
	background-opacity: .5;
}

#header{
	font-family: 'Londrina Solid', cursive;
	color: red;
	margin-left: 22%;
	font-size: 850%;
	margin-bottom: 2px;
	margin-top: 15px;
}*/
