body { 
	padding: 0; 
	margin: 0;
}

hr {
	position: relative;
	left: -999999em;
	clear: both;
}

#header {
	height: 35px;
	background-color: #222;
	padding-bottom: 1em;
	padding-top: 0.3em;
	margin-bottom: 5px;
	position: relative;
	/*text-align: center;*/
}

#header h1{
	margin-left: 20%;
	font-style: italic;
	color: white;
	position:absolute;
}

.datebox{
	left: 35%;
	width: 30%;
	text-align: center;
	position: absolute;
/*	height: 1.5em;
	margin-bottom: 0.5em;*/
}

#date { 
	margin-top: 0px;
	color: white;
	font-size: 250%;
/*	margin-top: 3px;
	margin-bottom: 3px;
	display: inline-block; */
}

.xxlarge { 
	margin: 0px; 
	font-size: 150%;
	display: inline-block; 
}

#container {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}


/*------------- topics -----------*/

#topics {
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	height: 230px;
}

#topics .btn_l {
	/*display: inline-block;*/
	float: left;
	width: 4%;
	height: 100%;
	/*background-color: #89c4e2;*/
}

#topics .topic {
	/*display: inline-block;*/
	float: left;
	width: 22%;
	margin-left: 1%;
	background-color: #999;
	background-color: rgba(219, 219, 219, 0.3);
	border-radius: 25px;
	position:relative;
	/*display: table;*/
}

#topics .topic img {

	width: 100%;
	max-height: 100%;
	/*float: left;*/
	display: inline-block;
}

#topics .topic h2 {
	margin: 0px;
	position: absolute;
	width: 95%;
/*	display: table-cell;
	vertical-align: center;*/
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	top: 30%;
}

#topics .topic h2 span { 
   	color: white;
   	/*width: 100%;*/
   	font: bold 35px/45px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
}

#topics .btn_r {
	/*display: inline-block;*/
	float: right;
	width: 4%;
	height: 100%;
	/*background-color: #89c4e2;*/
}

.btn .fa{
	font-size: 6em;
	margin-top: 1em;
}

.btn_r .fa{
	margin-left: 5px;
	color: #627DA8;
}

.btn_l .fa{
	margin-left: -15px;
	color: #627DA8;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	cursor: pointer;
	color: #0E2D5E;
}

/*------------- graph -----------*/

#statistics {
	clear: both;
	margin-top: 2em;
	height: 300px;
	/*margin-bottom: 12px;*/
	position: relative;
}

#statistics .buttons{
	position: absolute;
	right: 12%;
	top: 3px;
}

.buttons div {
	width: 80px;
	height: 20px;
	/*background-color: #ddd;*/
	float: right;
}

.buttons div {
	/*margin-left: 12px;*/
	font-style: italic;
}

#statistics .btn:hover{
	cursor: pointer;
	background-color: #999;
}



#chart {
	width: 865px;
	height: 288px;
	background-color: #ccc;
	margin: 0 auto;
}

/*------------- articles -----------*/

#articles {
	background-color: #fff;
	height: 230px;
	margin-top: 1em;
	/*position: relative;*/
}

#articles .btn_l {
	float: left;
	width: 4%;
	height: 100%;
	/*background-color: #89c4e2;*/
}

#articles .article {
	float: left;
	background-color: #999;
	background-color: rgba(219, 219, 219, 0.3);
	border-radius: 25px;
/*	height: 360px;*/
	width: 22%;
	margin-left: 1%;
	position: relative;
}

.article img {
	width: 100%;
	float: left;
}

.article h3 {
	margin: 0px;
	top: 0%;
	display: absolute;
	/*font-size: 16px;*/
	font-weight: normal;
	position:absolute;
	width: 95%;
}

.article p{
	bottom: 0%;
}

#articles .article h3 span { 
   color: white; 
   font: bold 18px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   line-height: 50%;
}

#articles .btn_r {
	float: right;
	width: 4%;
	height: 100%;
	/*background-color: #89c4e2;*/
}

#article-page {
	clear:both;
	background-color: #ccc;
	margin-top: 5px;
}

#footer {
	height: 20px;
	background-color: #222;
	color: white;
	text-align: center;
	width: 100%;
	position:absolute;
	bottom: 0;
}

svg {
	font: 10px sans-serif;

	background: linear-gradient(#f9f9f9,#e3e3e3);
	box-shadow: 0 0 4px #999;
	border-radius: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

circle {
	cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect:hover {
	cursor: default;
}