body { 
	padding: 0; 
	margin: 0;
}

hr {
	position: relative;
	left: -999999em;
	clear: both;
}

#header {
	height: 40px;
	background-color: #cf423a;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
}
#header{
	text-align: center;
}

.xxlarge { 
	margin: 0px; 
	font-size: 250%;
	display: inline-block; 
}

.title{
	color: white;
}

#container {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.datebox{
	height: 1.5em;
	margin-bottom: 0.5em;
}

#date { 
	margin-top: 3px;
	margin-bottom: 3px;
	display: inline-block; 
}

#topics {
	margin-bottom: 12px;
	background-color: #fff;
	height: 230px;
}

#topics .btn_l {
	/*display: inline-block;*/
	float: left;
	width: 4%;
	height: 100%;
	background-color: #89c4e2;
}

#topics .topic {
	/*display: inline-block;*/
	float: left;
	width: 20%;
	margin-left: 1%;
	padding: 10px;
	background-color: #999;
	position:relative;
}

#topics .topic img {
	width: 100%;
	
}

#topics .topic h2 {
	position: absolute;
	top: 20%;
	text-align: center
	font-size: 18px;
	font-weight: normal;
}

#topics .topic h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

#topics .btn_r {
	/*display: inline-block;*/
	float: right;
	width: 4%;
	height: 100%;
	background-color: #89c4e2;
}

#statistics {
	height: 344px;
	margin-bottom: 12px;
}

.buttons div {
	width: 80px;
	height: 20px;
	/*background-color: #ddd;*/
	float: right;
}

.buttons div {
	/*margin-left: 12px;*/
	font-style: italic;
}

.btn:hover, #topics .btn:hover, #articles .btn:hover {
	cursor: pointer;
	background-color: #999;
}

#chart {
	width: 865px;
	height: 288px;
	background-color: #ccc;
	margin: 0 auto;
}

#articles {
	background-color: #fff;
	height: 230px;
	position: relative;
}

#articles .btn_l {
	float: left;
	width: 40px;
	height: 100%;
	background-color: #89c4e2;
}

#articles .article {
	float: left;
	background-color: #999;
/*	height: 360px;*/
	width: 20%;
	margin-left: 1%;
	padding: 10px;
}

.article img {
	width: 100%;
}

.article h3 {
	top: 20%;
	/*font-size: 16px;*/
	font-weight: normal;
	position:absolute;
}

#article .article h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

#articles .btn_r {
	float: right;
	width: 40px;
	height: 100%;
	background-color: #89c4e2;
}

#article-page {
	clear:both;
	background-color: #ccc;
	margin-top: 5px;
}

#footer {
	height: 20px;
	background-color: black;
	color: white;
	text-align: center;
}

svg {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}